@model CFTHManager.Models.Client

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
	<h4>Client</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })


	<div class="form-group">
		@Html.LabelFor(model => model.PersonalInformationId, "PersonalInformationId", new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("PersonId", String.Empty)
			@Html.ValidationMessageFor(model => model.PersonalInformationId)
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.FamilySize, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.FamilySize, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.FamilySize, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.AgencyPickUp, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			<div class="checkbox">
				@Html.EditorFor(model => model.AgencyPickUp)
				@Html.ValidationMessageFor(model => model.AgencyPickUp, "", new { @class = "text-danger" })
			</div>
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.CfhToDeliver, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			<div class="checkbox">
				@Html.EditorFor(model => model.CfhToDeliver)
				@Html.ValidationMessageFor(model => model.CfhToDeliver, "", new { @class = "text-danger" })
			</div>
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.EnteredDate, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.EnteredDate, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.EnteredDate, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.IntakePersonId, "IntakePersonId", new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("PersonId", String.Empty)
			@Html.ValidationMessageFor(model => model.IntakePersonId)
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.DataEntryPersonId, "DataEntryPersonId", new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("PersonId", String.Empty)
			@Html.ValidationMessageFor(model => model.DataEntryPersonId)
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-default" />
		</div>
	</div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
